
#top-container {
    text-align: center;
    padding: 10px;
}

#top-container nav a {
    padding: 10px;
}

.Succulent-Card {
    border: solid;
    border-color: #d46f61;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
    float: left;
    text-align: center;
    width: 100px;
    height: 275px;
}

.Philodendron-Card {
    border: solid;
    border-color: #3a692e;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
    float: left;
    text-align: center;
    width: 100px;
    height: 275px;
}

.Woodie-Card {
    border: solid;
    border-color: #583813;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
    float: left;
    text-align: center;
    width: 100px;
    height: 275px;
}

.Annual-Card {
    border: solid;
    border-color: #61a0d4;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
    float: left;
    text-align: center;
    width: 100px;
    height: 275px;
}